bin/
obj/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.idea/

*.dotCover

_ReSharper*/
*.ReSharper*

*.nupkg
*.snupkg
.nuget/

packages/

publish/

/.vs/config/

*.log

*.tmp
*.temp

*.dbmdl
*.pdb
*.cache
*.ilk
*.log
*.obj
*.exe
*.dll
*.appx
*.appxsym
*.vsix
*.vsixmanifest
